html {
  height: 100%;
  background-color: grey;
}

body {
  background-image: url("../../Images/background.jpeg");
  background-position: center;
  min-height: 100%;
  background-attachment: relative;
}

/* navbar Styling */
.navbar-brand {
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  background-color: #42bcf5;
}

ul {
  position: fixed;
  right: 2px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #42bcf5;
}

li.dropdown {
  display: inline-block
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Header Styling */
h3 {
  color: #42bcf5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  padding: 10px;
}

.project-description {
  position: relative;
  left: 725px;
}

h1.description-header {
  position: relative;
  color: #42bcf5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
  left: 350px;
}

hr {
  position: relative;
  left: 0;
}

.blurb {
  position: relative;
  left: 425px;
}

.imageNav-header {
  position: relative;
  left: 200px;
}

.img-fluid {
  position: relative;
  left: 0;
}